@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #040d12;
    --color-secondary: #183d3d;
    --color-highlight1: #5c8374;
    --color-highlight2: #93b1a6;
    --color-white-text: #ffffff;
    --color-muted: #a5a5a5;
    --color-error: #ff4c30;

    --font-style: 'IBM Plex Mono', sans-serif;

    --color-gradient: linear-gradient(
      to top,
      var(--color-primary) 30%,
      var(--color-secondary) 100%
    );
  }
}

/* resets */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  font-family: var(--font-style);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-highlight1);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-highlight1);
}

@media only screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-primary);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-highlight1);
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-highlight1);
  }
}
